[ {"comment": "Copy this file to config.json.",
   "comment": "Edit the value below with your tokenUri(s), client ID(s),",
   "comment": "secret(s), and host(s).",
   "comment": "You may have as many objects here as you want.",
   "comment": "The server probes config.json every two seconds,",
   "comment": "so changes take effect quickly."
   },
  {"tokenUri": "https://example.com/oath/token",
   "clientId": "clientid",
   "clientSecret": "secret",
   "redirectBackHosts": ["example.com"]
  }
]
